<!DOCTYPE html>
<html lang="en">

<head>
  <!-- General Settings -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="{global.baseUrl}" />

  <!-- Meta Tags -->
  <title>{head.title} | {global.appName}</title>
  <meta name="description" content="{head.description}">

  <!-- Static Assets -->
  <link tyle="image/x-icon" rel="icon" href="favicon.ico">
  <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
  <link rel="stylesheet" type="text/css" href="public/app.css" />

</head>

<body class="{body.class}">
  <!-- Page Wrapper-->
  <div class="wrapper">
    <!-- Header -->
    <div class="header">
      <!-- Logo -->
      <a href="/" class="logo">
        <img src="public/logo.png" alt="logo {global.companyName}">
      </a>
      <!-- Navigation -->
      <ul class="menu">
        <li>
          <a href="/">Home</a>
        </li>
        <li class="loggedOut">
          <a href="/account/create">Signup</a>
        </li>
        <li class="loggedOut">
          <a href="/session/create">Login</a>
        </li>
        <li class="loggedIn">
          <a href="/menu">Menu</a>
        </li>
        <li class="loggedIn" id="cart">
          <a href="/cart">Cart</a>
        </li>
        <li class="loggedIn">
          <a href="#" id="logoutButton">Logout</a>
        </li>
      </ul>

      <div class="clear"></div>
    </div>

    <!-- Page Specific Contenr -->
    <div class="content">